<ul>
    <li class="hero-dashboard">
        <h2>{{this.heroService.player.hero.name}}</h2>
        <hr class="divisor">
        <div class="healthDiv">
            Health:
            <div class="healthBar">
                <div [ngStyle]="{'width': (this.heroService.player.hero.health / this.heroService.player.hero.maxHealth) * 100 + '%'}"
                    class="healthVal">
                    {{this.heroService.player.hero.health}}/{{this.heroService.player.hero.maxHealth}}
                </div>
            </div>
        </div>
        <p>Damage: {{this.heroService.player.hero.damage}}</p>

        <p>Wins: {{this.heroService.player.wins}} | Losses: {{this.heroService.player.losses}}</p>
    </li>
</ul>

<button (click)="this.heroService.player.hero.ReceiveDamage(1)">Test</button>